IDFUploadSavePath=I\:\\myWorkPlace\\IDFVCCommitCreateSave\\
WeatherFilePath=/Users/weilixu/Documents/workspace/WeatherData/
ResourcePath=/Users/weilixu/eclipse-workspace/IDFProject/resources/
SimulationBasePath=I\:\\myWorkPlace\\IDFVCSimFolders\\
SimEngineURL=http://127.0.0.1:8080/IDFVCSimEngine/
ValidateSSLCertificate=No
DBURL=jdbc:mysql://127.0.0.1:3306/idfvc?autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=America/New_York
DBUSER=root
DBPWD=911383
debug=false
platform=local
ViewerDataSavedPath=/Users/weilixu/eclipse-workspace/IDFProject/WebContent/temp